<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="grapheneos.securepaste.shareduid.b"
    android:sharedUserId="grapheneos.securepaste.shareduid">
    <application
        android:debuggable="true"
        android:label="Secure Paste Shared UID B"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name="grapheneos.securepaste.helper.SecurePasteActivity"
            android:exported="true" />
        <provider
            android:name="grapheneos.securepaste.helper.SecurePasteCommandProvider"
            android:authorities="grapheneos.securepaste.shareduid.b.provider"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>
</manifest>
