<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="grapheneos.srtpermtests.internet.appthataccessesinternet">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>

    <application android:label="GosInternetAccess" android:debuggable="true">
        <service android:name=".AccessInternetOnCommand"
            android:foregroundServiceType="dataSync"
            android:exported="true" />
    </application>
</manifest>
